@font-face {
	font-family: 'wp-qiita';
	src:url('../fonts/wp-qiita.eot?2hz8sb');
	src:url('../fonts/wp-qiita.eot?2hz8sb#iefix') format('embedded-opentype'),
		url('../fonts/wp-qiita.ttf?2hz8sb') format('truetype'),
		url('../fonts/wp-qiita.woff?2hz8sb') format('woff'),
		url('../fonts/wp-qiita.svg?2hz8sb#wp-qiita') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="wpqt-"], [class*=" wpqt-"] {
	font-family: 'wp-qiita';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wpqt-qiita-q:before {
	content: "\e900";
}
.wpqt-qiita-favicon:before {
	content: "\e901";
}
.wpqt-qiita-favicon-color .path1:before {
	content: "\e902";
	color: rgb(255, 255, 255);
}
.wpqt-qiita-favicon-color .path2:before {
	content: "\e903";
	margin-left: -1em;
	color: rgb(89, 187, 12);
}
.wpqt-qiita-favicon-reversal:before {
	content: "\e904";
}
.wpqt-qiita-square:before {
	content: "\e905";
}


/* -- admin -- */
body {
  background-color: transparent;
}

/* 
$qiita-primary: #59bb0c;
$qiita-primary-border: #4ea30a;
$qiita-primary-active: #428b09;
$qiita-primary-active-border: #326a07;
*/

/*
a, a:link, a:visited { color: #59bb0c; }
a:hover, a:focus, a:active { color: #428b09; }
*[class$=primary], *[class$=primary]:link, *[class$=primary]:visited {
  color: #59bb0c;
  border-color: #4ea30a;
}
*[class$=primary]:hover, *[class$=primary]:focus, *[class$=primary]:active {
  color: #428b09;
  border-color: #326a07;
}
*/

#messages {
  position: absolute;
  display: none;
  visibilitiy: hidden;
}

#wp-qiita-options {
  margin-right: 15px;
}

.plugin-version {
  position: absolute;
  top: 30px;
  right: 30px;
}

.plugin-version.label {
  border-radius: 50px;
}

.tab-pane {
  position: relative;
  padding: 20px;
  opacity: 0;
  -moz-transition: opacity 0.1s linear 0.1s;
  -webkit-transition: opacity 0.1s linear 0.1s;
  -o-transition: opacity 0.1s linear 0.1s;
  -ms-transition: opacity 0.1s linear 0.1s;
  transition: opacity 0.1s linear 0.1s;
}

.tab-pane.loaded {
  opacity: 1;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
  background-color: #f0f0f0;
}

.nav-tabs>li.active>a {
  color: #59bb0c;
}

.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
  color: #428b09;
}

/* Activation */
.thumbnail .caption {
  font-size: 12px;
}

.thumbnail .caption h5 {
  font-weight: 600;
}

/* Profile */

/* Items tab */
#qiita-items th, #qiita-items td {
  text-align: left;
  vertical-align: middle;
}

#qiita-items .item-index {
  text-align: right;
}

#qiita-items .item-stocks {
  min-width: 90px;
  text-align: right;
}

#qiita-items .item-sync {
  min-width: 100px;
  text-align: center;
}

#qiita-items .item-coediting, #qiita-items .item-private {
  text-align: center;
}

/* Extra tab */
#icon-fonts th, #icon-fonts td {
  text-align: left;
  vertical-align: middle;
}

#icon-fonts .icon-view {
  min-width: 60px;
  text-align: center;
}

/* Loader*/
.loader {
  position: fixed; /* relative */
  left: 50%;
  top: calc(50% - 11em);
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #d7d4d1; /* rgb( 215, 212, 209 ) */
  background: -moz-linear-gradient(left, #d7d4d1 10%, rgba(215, 212, 209, 0) 42%);
  background: -webkit-linear-gradient(left, #d7d4d1 10%, rgba(215, 212, 209, 0) 42%);
  background: -o-linear-gradient(left, #d7d4d1 10%, rgba(215, 212, 209, 0) 42%);
  background: -ms-linear-gradient(left, #d7d4d1 10%, rgba(215, 212, 209, 0) 42%);
  background: linear-gradient(to right, #d7d4d1 10%, rgba(215, 212, 209, 0) 42%);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #d7d4d1;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #f1f1f1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

